RewriteEngine On

# Kiểm tra nếu không phải file hay thư mục thật thì mới rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Đưa toàn bộ đường dẫn về index.php và truyền qua biến 'url'
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
